**Adding College Successfully:**
added the colleges I wanted and then it showed on Dashboard when I clicked on view Dashboard.
![addSuccess.png](..%2F..%2F..%2F..%2FaddSuccess.png)
**Adding a college that has already been added fail:** Tried adding a college that's already been added and that failed. We don't want same college twice on the dashboard.
![AddFail.png](..%2F..%2F..%2F..%2FAddFail.png)
**Removing College Successfully:**
removed the colleges I didn't want and then it was successfully removed from the dashboard.
![RemoveSuccess.png](..%2F..%2F..%2F..%2FRemoveSuccess.png)
**Removing a college that is not on the list:** Tried removing a college that is not on the list and it displayed the text that it's not on dashboard. Viewed dashboard to confirm that.
![RemoveFail.png](..%2F..%2F..%2F..%2FRemoveFail.png)