**Adding College Successfully:**
added the colleges I wanted and then it showed on Dashboard when I clicked on view Dashboard.
![addSuccess.png](..%2F..%2F..%2F..%2FaddSuccess.png)

**Adding a college that has already been added fail:** 
Tried adding a college that's already been added and that failed. We don't want same college twice on the dashboard.
![AddFail.png](..%2F..%2F..%2F..%2FAddFail.png)

**Removing College Successfully:**
removed the colleges I didn't want and then it was successfully removed from the dashboard.
![RemoveSuccess.png](..%2F..%2F..%2F..%2FRemoveSuccess.png)

**Removing a college that is not on the list:** 
Tried removing a college that is not on the list and it displayed the text that it's not on dashboard. Viewed dashboard to confirm that.
![RemoveFail.png](..%2F..%2F..%2F..%2FRemoveFail.png)

**Essay submitted successfully:**
![Screen Shot 2023-10-25 at 8.03.27 PM.png](..%2F..%2F..%2F..%2F..%2FDownloads%2FScreen%20Shot%202023-10-25%20at%208.03.27%20PM.png)

**Uploading an essay to a college not on the dashboard(failure):**
![Screen Shot 2023-10-25 at 8.08.00 PM.png](..%2F..%2F..%2F..%2F..%2FDownloads%2FScreen%20Shot%202023-10-25%20at%208.08.00%20PM.png)

**Not specifying which kind of essay it is:**
![Screen Shot 2023-10-25 at 8.09.08 PM.png](..%2F..%2F..%2F..%2F..%2FDownloads%2FScreen%20Shot%202023-10-25%20at%208.09.08%20PM.png)

**Deleting an Essay successfully:**
![Screen Shot 2023-10-25 at 8.16.03 PM.png](..%2F..%2F..%2F..%2F..%2FDownloads%2FScreen%20Shot%202023-10-25%20at%208.16.03%20PM.png)

**There are no essay for the college:**
![Screen Shot 2023-10-25 at 8.16.48 PM.png](..%2F..%2F..%2F..%2F..%2FDownloads%2FScreen%20Shot%202023-10-25%20at%208.16.48%20PM.png)

**Essay you want to delete but the college name you entered is not on the dashboard:**
![Screen Shot 2023-10-25 at 8.17.07 PM.png](..%2F..%2F..%2F..%2F..%2FDownloads%2FScreen%20Shot%202023-10-25%20at%208.17.07%20PM.png)

**Not specifying which type of essay you want to delete:**
![Screen Shot 2023-10-25 at 8.18.18 PM.png](..%2F..%2F..%2F..%2F..%2FDownloads%2FScreen%20Shot%202023-10-25%20at%208.18.18%20PM.png)

**Option 5 works and if any number other than 1-7 is shown as invalid:**
![Screen Shot 2023-10-25 at 8.27.22 PM.png](..%2F..%2F..%2F..%2F..%2FDownloads%2FScreen%20Shot%202023-10-25%20at%208.27.22%20PM.png)

**Test for option 6. Returns the text we want to see:**
![Screen Shot 2023-10-25 at 8.31.32 PM.png](..%2F..%2F..%2F..%2F..%2FDownloads%2FScreen%20Shot%202023-10-25%20at%208.31.32%20PM.png)

**Test for option 6. College entered wasn't in dashboard:**
![Screen Shot 2023-10-25 at 8.32.07 PM.png](..%2F..%2F..%2F..%2F..%2FDownloads%2FScreen%20Shot%202023-10-25%20at%208.32.07%20PM.png)

**Test for option 6. No essay is present in specified essay type:**
![Screen Shot 2023-10-25 at 8.32.34 PM.png](..%2F..%2F..%2F..%2F..%2FDownloads%2FScreen%20Shot%202023-10-25%20at%208.32.34%20PM.png)