**Adding College Successfully:**
added the colleges I wanted and then it showed on Dashboard when I clicked on view Dashboard.
OPTIONS:

1.Add college, 2.Remove college, 3.Upload essay, 4.Delete essay, 5.View dashboard, 6.View essay, 7.Exit app

1

Enter the name of the college to be added: Duke University

Duke University added successfully

Add another college? (Yes/No):

Yes

Enter the name of the college to be added: Lehigh University

Lehigh University added successfully

Add another college? (Yes/No):

No


**Adding a college that has already been added fail:** 

Tried adding a college that's already been added and that failed. We don't want same college twice on the dashboard.

OPTIONS:

1.Add college, 2.Remove college, 3.Upload essay, 4.Delete essay, 5.View dashboard, 6.View essay, 7.Exit app

1

Enter the name of the college to be added: Duke University

Duke University already in dashboard


**Removing College Successfully:**

removed the colleges I didn't want and then it was successfully removed from the dashboard.

OPTIONS:

1.Add college, 2.Remove college, 3.Upload essay, 4.Delete essay, 5.View dashboard, 6.View essay, 7.Exit app

2

Enter the name of the college to be removed: Lehigh University

Lehigh University removed successfully


**Removing a college that is not on the list:** 

Tried removing a college that is not on the list and it displayed the text that it's not on dashboard. Viewed dashboard to confirm that.

OPTIONS:

1.Add college, 2.Remove college, 3.Upload essay, 4.Delete essay, 5.View dashboard, 6.View essay, 7.Exit app

2

Enter the name of the college to be removed: Vassar College

Vassar College is not in Dashboard


**Essay submitted successfully:**

OPTIONS:

1.Add college, 2.Remove college, 3.Upload essay, 4.Delete essay, 5.View dashboard, 6.View essay, 7.Exit app

3

Enter title of Essay:

My name

Enter the text of the Essay

My name is Taj

Enter essay type (Personal/Supplement)

Personal

Which college will it be added to?

Duke University

Essay submitted successfully to Duke University

**Uploading an essay to a college not on the dashboard(failure):**

OPTIONS:

1.Add college, 2.Remove college, 3.Upload essay, 4.Delete essay, 5.View dashboard, 6.View essay, 7.Exit app

3

Enter title of Essay:

My name

Enter the text of the Essay

My name is Taj

Enter essay type (Personal/Supplement)

Personal

Which college will it be added to?

Vassar College

Vassar College is not in dashboard, unable to upload Essay

**Not specifying which kind of essay it is:**

OPTIONS:

1.Add college, 2.Remove college, 3.Upload essay, 4.Delete essay, 5.View dashboard, 6.View essay, 7.Exit app

3

Enter title of Essay:

My name

Enter the text of the Essay

My name is Taj

Enter essay type (Personal/Supplement)

Which college will it be added to?

Duke University

Essay type wasn't specified, unable to upload to college


**Deleting an Essay successfully:**

OPTIONS:

1.Add college, 2.Remove college, 3.Upload essay, 4.Delete essay, 5.View dashboard, 6.View essay, 7.Exit app

4

Enter college:

Duke University

Enter essay type to delete

Personal

Duke University Personal successfully deleted!


**There are no essay for the college:**

OPTIONS:

1.Add college, 2.Remove college, 3.Upload essay, 4.Delete essay, 5.View dashboard, 6.View essay, 7.Exit app

4

Enter college:

Duke University

Enter essay type to delete

supplement

Essay is not in college


**Essay you want to delete but the college name you entered is not on the dashboard:**

OPTIONS:

1.Add college, 2.Remove college, 3.Upload essay, 4.Delete essay, 5.View dashboard, 6.View essay, 7.Exit app

4

Enter college:

Oberlin

Enter essay type to delete

Personal

Oberlin is not in dashboard, unable to delete Essay

**Not specifying which type of essay you want to delete:**
![Screen Shot 2023-10-25 at 8.18.18 PM.png](..%2F..%2F..%2F..%2F..%2FDownloads%2FScreen%20Shot%202023-10-25%20at%208.18.18%20PM.png)

**Option 5 works and if any number other than 1-7 is shown as invalid:**
![Screen Shot 2023-10-25 at 8.27.22 PM.png](..%2F..%2F..%2F..%2F..%2FDownloads%2FScreen%20Shot%202023-10-25%20at%208.27.22%20PM.png)

**Test for option 6. Returns the text we want to see:**
![Screen Shot 2023-10-25 at 8.31.32 PM.png](..%2F..%2F..%2F..%2F..%2FDownloads%2FScreen%20Shot%202023-10-25%20at%208.31.32%20PM.png)

**Test for option 6. College entered wasn't in dashboard:**
![Screen Shot 2023-10-25 at 8.32.07 PM.png](..%2F..%2F..%2F..%2F..%2FDownloads%2FScreen%20Shot%202023-10-25%20at%208.32.07%20PM.png)

**Test for option 6. No essay is present in specified essay type:**
![Screen Shot 2023-10-25 at 8.32.34 PM.png](..%2F..%2F..%2F..%2F..%2FDownloads%2FScreen%20Shot%202023-10-25%20at%208.32.34%20PM.png)